Repository riparias/rato-occurrences, pull requests merged in 2023-11, with the labels that each got.

#107 Remove trigger for updates to `raw-data` dir
  .github/workflows/fetch-data.yaml
Labels: automated workflow

#111 Updated MIT license
  LICENSE
Labels: documentation

#116 name chunks
  src/dwc_mapping.Rmd
Labels: documentation

#118 Map some Vespa valutina values to organism_quantity_type
  src/dwc_mapping.Rmd
Labels: mapping
